.upper {
    margin-left: -10rem;
}

.definitions {
    margin-right: 35rem;
}

.lower {
    width: 30rem;
}

.hour {
    width: 3rem
}

.eq {
    width: 100rem;
}

.ro-tabs {
    height: 20rem;
}

.field-short {
    width: 9rem;
}

.field-medium {
    width: 18rem;
}

.lower {
    margin-left: -11rem;
}

.ro-description {
    width: 50rem;
}

.tabs-ro {
    background-color: whitesmoke;
}

.subject-ro {
    width: 35rem;
}

.status {
    width: 10rem;
}