.ri-file-add-line {
    font-size: 1.7rem !important;
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.vendor-details-title {
    font-weight: bold;
}

.rq {
    font-size: 0.8rem;
    font-weight: bold;
}

.heading {
    font-size: 1.5rem;
}

.selected-item {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ri-add-circle-line {
    font-size: 1.8rem;
    cursor: pointer;

}

.ri-search-line {
    font-size: 1.7rem !important;
}

.totals {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

/*Modals*/
.po-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* This will create a semi-transparent background behind the modal */
    z-index: 9999;

}

.po-modal-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* This will create a semi-transparent background behind the modal */
    z-index: 9999;

}

.po-form-content {
    background-color: white;
    margin: 1rem 15rem 1rem 15rem;
    padding: 2.5rem !important;
    box-shadow: 0 2px 4px slategray;
    border: 1px solid black;
    height: 15rem;
    width: 30rem;
    /*border-radius: 1rem;*/
    overflow: visible;
    z-index: 9999;
}

.voided {
    font-weight: bold;
    color: red;
}

.box {
    height: 20rem;
    width: 40rem;
    border: 1px solid black;
}

.gr-form-content-warning {
    background-color: white;
    margin: 1rem 15rem 1rem 15rem;
    padding: 2.5rem !important;
    box-shadow: 0 2px 4px slategray;
    border: 1px solid black;
    height: 14rem;
    width: 35rem;
    /*border-radius: 1rem;*/
    overflow: visible;
    z-index: 9999;
}

.gr-form-content {
    background-color: white;
    margin: 1rem 15rem 1rem 15rem;
    padding: 2.5rem !important;
    box-shadow: 0 2px 4px slategray;
    border: 1px solid black;
    height: 15rem;
    width: 30rem;
    /*border-radius: 1rem;*/
    overflow: visible;
    z-index: 9999;
}

.ri-printer-line  {
    font-size: 1.5rem;
    cursor: pointer;
}

.ri-mail-send-line {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.ri-delete-bin-line {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.ri-download-line {
    font-size: 1.7rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.po-details {
    display: flex;
    justify-content: space-between;
}


.container {
    display: flex; /* Use flexbox to arrange the inner divs */
    justify-content: space-between; /* Place the divs at each end of the container */
}

.ri-checkbox-fill {
    font-size: 1.4rem;
    cursor: pointer;
}

.ri-user-search-line {

    font-size: 1.4rem;
    cursor: pointer;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 10px; /* Adjust the gap between columns */
    align-items: center; /* Vertically center content */
    width: 35%; /* Adjust the width of the grid */
    margin-left: auto; /* Push the grid to the left side of the screen */
}

.text-right2 {
    text-align: left;
}

.ri-add-line {
    font-size: 1.4rem;
}