.ri-file-add-line {
    font-size: 1.7rem !important;
    cursor: pointer;
}

.vendor-details-title {
    font-weight: bold;
}

.heading {
    font-size: 1.5rem;
}

.selected-item {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ri-add-circle-line {
    font-size: 1.8rem;
    cursor: pointer;

}

.totals {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

/*Modals*/
.po-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* This will create a semi-transparent background behind the modal */
    z-index: 9999;

}

.po-form-content {
    background-color: white;
    margin: 1rem 15rem 1rem 15rem;
    padding: 2.5rem !important;
    box-shadow: 0 2px 4px slategray;
    border: 1px solid black;
    height: 20rem;
    width: 45rem;
    border-radius: 1rem;
    overflow: visible;
    z-index: 9999;
}
