.ri-file-add-line {
    font-size: 1.7rem !important;
    cursor: pointer;
}

.vendor-details-title {
    font-weight: bold;
}

.heading {
    font-size: 1.5rem;
}

.selected-item {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ri-add-circle-line {
    font-size: 1.8rem;
    cursor: pointer;

}