@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.704);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 9999;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  color: rgb(216, 4, 244);
}
.primary-button {
  background-color: rgb(137, 53, 215) !important;
  border-color: black !important;
  height: 40px !important;
  /*width: 8rem !important;*/
  color: white !important;
  font-size: 14px !important;
  /*font-weight:900 !important;*/
  margin-top: 10px;
  padding: 0.3rem;
}

/*Modals*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* This will create a semi-transparent background behind the modal */
  z-index: 9999;

}

.form-content {
  background-color: white;
  margin: 1rem 15rem 1rem 15rem;
  padding: 2.5rem !important;
  box-shadow: 0 2px 4px slategray;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: visible;
  z-index: 9999;
}

.modal-dropdown {
  z-index: 9999;
}

.ri-close-line {
  font-size: 1.3rem;
}

/*Spinner Loader*/
.loader {
  border-top-color: mediumpurple;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tenant-profile-content {
  margin-top: -1.7rem;
}

.ri-user-add-line {
  font-size: 1.5rem;
  cursor: pointer;
}

.ri-close-circle-line {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-title {
  font-size: 1.5rem;
}

.chp {
  text-decoration: underline;
}