.ri-notification-line {
    font-size: 1.4rem !important;
}

.layout {
    margin: 1rem 3rem 0 3rem;
    border: 1px solid lightgray;
    padding:30px;
}

.layout-header {
    margin-bottom: 1rem;
}

.layout-title {
    font-size: 1.5rem;
}


.ri-logout-circle-line {
    font-size: 22px !important;
}

.ri-user-line {
    font-size: 22px !important;
}

.upper-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
    font-size: 0.75rem;
}

.upper-nav-1 {
    /*background-color: lightgray;*/
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.upper-nav-2 {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;

}

.company-name {
    margin-right: 4rem;
}

@media (max-width: 1200px) {
   .nav-right {
       display: none;
   }
}