.so-details {
    display: flex;
    justify-content: space-between;
}

.po-details {
    display: flex;
    justify-content: space-between;
}

.ri-add-line {
    cursor: pointer;
}

.ri-delete-bin-5-fill {
    font-size: 1.3rem;
    cursor: pointer;
}

.container {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    margin-left: -9rem;
    /*display: flex !important;*/
    /*justify-content: space-between !important;*/
    /*!*border: 1px solid black;*!*/
    /*margin: 1px 1px 1px !important;*/
}

.bg-gray-100 {
    width: 17rem;

}

.cust-details {
   margin: 1rem 10rem 1rem 1rem;
}

.tabs {
    height: 15rem;
}