.so-details {
    display: flex;
    justify-content: space-between;
}

.po-details {
    display: flex;
    justify-content: space-between;
}

.ri-add-line {
    cursor: pointer;
}

.ri-delete-bin-5-fill {
    font-size: 1.3rem;
    cursor: pointer;
}